:global(.mantine-Accordion-panel) {
  container-type: inline-size;
  :global(.mantine-Accordion-content) {
    padding: var(--mantine-spacing-xs);
    @container (width < 50em) {
      /*background-color: var(--mantine-color-red-filled);*/
      padding: 0px;
    }
  }
}
